@font-face {
  font-family: 'Staat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('Staat-Bold.woff2') format('woff2'),
    url('Staat-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Staat';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('Staat-Bold-Italic.woff2') format('woff2'),
    url('Staat-Bold-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Staat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('Staat-Bold.woff2') format('woff2'),
    url('Staat-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Staat';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('Staat-Bold-Italic.woff2') format('woff2'),
    url('Staat-Bold-Italic.ttf') format('truetype');
}
