html {
	background-color: var(--color-background);
	color: var(--color-text);

	@media (min-width: 90em) {
		font-size: 112.5%;
	}
}

body {
	font-size: var(--font-size-md);
	font-family: var(--font-family-basier);
}

:where(a) {
	color: inherit;
	text-decoration-color: var(--theme, var(--color-accent));

	&:hover {
		color: var(--theme, var(--color-accent));
	}
}

:where(h1, h2, h3, h4, h5, h6) {
	font-family: var(--font-family-henrietta);
	line-height: var(--line-height-heading);
	text-wrap: balance;
}

:where(h1) {
	font-size: var(--font-size-xl);
	font-weight: 600;
}

:where(h2) {
	font-size: var(--font-size-lg);
	font-weight: 500;
}

:where(h3, h4, h5, h6) {
	font-size: var(--font-size-md);
	font-weight: 400;
}

:where(li > p) {
	display: contents;
}

.themed-text {
	color: var(--theme, var(--color-accent));
}

.hidden {
	display: none;
}

.contents {
	display: contents;
}

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
